<div class="container mt-3">
  <div class="row">
    <div class="col">
      <%= link_to "Crear yacht", new_yacht_path, class:"btn btn-primary" %>
    </div>
  </div>
  <hr>
    <div class="row d-flex">
        <p>My yachts</p>
        <% @yachts.each do |yacht| %>
          <% if yacht.user_id == current_user.id %>
            <!-- Card de bootstrap-->
            <div class="col-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= yacht.name %> </h5>
                  <p class="card-text"> <%= yacht.price %></p>
                  <p class="card-text"> <%= yacht.capacity %></p>
                  <%= link_to "Ver detalles", yacht_path(yacht.id), class:"btn btn-info" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
</div>
