<div class="container shadow mt-3 p-3 w-25">
  <%= cl_image_tag @yacht.photo.key, height: 300, width: 400, crop: :fill, class:"card-img-top"%>
  <h3> <%= @yacht.name %> </h3>
  <p><%= @yacht.price %></p>
  <p><%= @yacht.capacity %></p>
  <% if current_user && @yacht.user_id == current_user.id %>
  <%= link_to "Editar", edit_yacht_path(@yacht.id), class:"btn btn-warning btn-sm" %>
  <%= link_to "Eliminar", yacht_path(@yacht),
  data: {turbo_method: :delete, turbo_confirm: "¿Está seguro de que quiere borrar este yacht?"}, class:"btn btn-danger btn-sm" %>
  <% else %>
  <%= link_to "Alquilar", new_yacht_booking_path(@yacht.id), class:"btn btn-info btn-sm" %>
  <% end %>
  <%= link_to "Volver", :back, class:"btn btn-primary btn-sm" %>
</div>
